AI ML Workshop

In [103]:
# STRINGS

print("Hello World")

Hello World

In [104]:
str(input("Enter Name"))

Enter Name 4

'4'

In [22]:
Name='Tanmoy Sen Gupta'
print(Name)
print(Name[-1]) #-1 is used to access the last element when the Length is not known
len(Name)
Name[1:len(Name):2] #first index , end index , elements to print next

Tanmoy Sen Gupta
a

'amySnGpa'

In [21]:
A="Micheal J is best"
B=A.replace("Micheal",'Jane')
B

'Jane J is best'

In [26]:
Name="Tanmoy SG"
Name.find('S') #gives the index where element is found

7

In [27]:
A='1'
type(A) #type of variable

str

In [32]:
#TUPLES
#uses round brackets

tuple1=("TSG", 10, 1.2) #each datatype is assigned a index number insie the tuple
tuple1

('TSG', 10, 1.2)

In [33]:
type(tuple1)

tuple

In [40]:
print(tuple1[0]) 
print(tuple1[0][2]) #traverses zero-th element of the tupple1 i.e. TSG, and traverses to the 2nd element of TSG i.e G
print(type(tuple1[0])) # element type of Zero-th element i.e. TSG - str
print(type(tuple1[1])) # element type of 1st element i.e. 10 - int
print(type(tuple1[2])) # element type of 2nd element i.e. 1.2 - float

TSG
G
<class 'str'>
<class 'int'>
<class 'float'>

In [41]:
tuple2=tuple1+("SA",15) #addition of tuples
tuple2

('TSG', 10, 1.2, 'SA', 15)

In [44]:
Num=(2,5,4,8,6,17,1)
NumSort=sorted(Num)
NumSort

[1, 2, 4, 5, 6, 8, 17]

In [49]:
tuple3=(("T","S"), 5, 6, 5.8,("TSG","XYZ"),4)
tuple3
print(tuple3[4][0][2]) 
#traverses to the 4th element of the tupple3 i.e. ("TSG","XYZ"), then
#traverses to the 0th element of ("TSG","XYZ") i.e TSG, then
#traverses to the 2nd element of TSG, i.e G

G

In [56]:
tuple4=("PPP",'XYZ','ABC')
tuple4.index('XYZ')

1

In [52]:
#LIST
#uses Square brackets

list1=['XYZ',1,1.2] 
list1

['XYZ', 1, 1.2]

In [55]:
list2=['MJ',10.2,10]
list2.extend(['pop',10]) #extend adds the content is added to the list
#extend list with ONLY list
list2

['MJ', 10.2, 10, 'pop', 10]

In [58]:
list2.append(['rock',2.5,50]) #append adds the list inside the list
list2

['MJ', 10.2, 10, 'pop', 10, ['rock', 2.5, 50], ['rock', 2.5, 50]]

In [60]:
print("Before ", list2)
del(list2[1]) #deletes element at index number
print("After ", list2)

Before  ['MJ', 10, 'pop', 10, ['rock', 2.5, 50], ['rock', 2.5, 50]]
After  ['MJ', 'pop', 10, ['rock', 2.5, 50], ['rock', 2.5, 50]]

In [62]:
str1="Tanmoy Sen Gupta".split() #splits string into a list
print(str1)

['Tanmoy', 'Sen', 'Gupta']

In [63]:
'A,B,C,D'.split(',') # , is the seperation point

['A', 'B', 'C', 'D']

In [64]:
'A.B.C'.split('.') # . is the separation point

['A', 'B', 'C']

In [67]:
a_list=[1,"hello",[1,2,3], 'TRUE']
a_list

[1, 'hello', [1, 2, 3], 'TRUE']

In [68]:
a_list[0]

1

In [70]:
#DICTIONARY
#uses curly braces

dict1={'key1':1, "key2":"2", "key3":[3,3,3], "key4":(4,4,4), ('key5'):5,(0,1):6} 
# a dictionary is defined using the Key within inverted-commas and then the value outside the inverted-commas separeted by colon
# A key can be anything like tuple,list etc.
dict1

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [73]:
dict1["key3"]

[3, 3, 3]

In [75]:
dict1[(0, 1)]

6

In [76]:
#to show all keys stored in the dictionary
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [77]:
dict2={'key1':1 ,'key1':2 , "key1":3}
dict2.keys()

dict_keys(['key1'])

In [79]:
dict2['key1']

3

In [80]:
#SETS
#removes repeating elements

set1={"pop","rock","soul","rock","disco","rock"}
set1

{'disco', 'pop', 'rock', 'soul'}

In [83]:
list5=['MJ','Thriller',1,1.2,'MJ']
list_to_set1=set(list5) #converts list into set
list_to_set1

{1, 1.2, 'MJ', 'Thriller'}

In [84]:
list_to_set1.add('XYZ')
list_to_set1

{1, 1.2, 'MJ', 'Thriller', 'XYZ'}

In [88]:
list_to_set1.add('XYZ')
list_to_set1

{1, 1.2, 'MJ', 'Thriller', 'XYZ'}

In [89]:
list_to_set1.remove('XYZ')
list_to_set1

{1, 1.2, 'MJ', 'Thriller'}

In [94]:
list2={1,2,3,4}
list3={2,3,4}
list2

{1, 2, 3, 4}

In [95]:
list2.issubset(list3)

False

In [96]:
list3.issubset(list2)

True

In [100]:
#CLASS

class Rectangle(object):
    def __init__(self, width=2,height=3,color='r'):
        self.height=height
        self.width=width
        self.color=color
    
    def drawRectangle(self):
        import matplotlib.pyplot as plt
        plt.gca().add_patch(plt.Rectangle((0,0),self.width, self.height, fc=self.color))
        plt.axis('scaled')
        plt.show()